div#nav-today(class="tab-pane fade show active", role="tabpanel", aria-labelledby="nav-today-tab")        
    br
    div(class="row", style={"padding-left":"20px;"})
        div(class="col-1 py-2 border-bottom border-right bg-light") Task#
        div(class="col-3 py-2 border-bottom border-right bg-light") Title
        div(class="col-2 py-2 border-bottom border-right bg-light") Task Type
        div(class="col-2 py-2 border-bottom border-right bg-light") Assigned By
        div(class="col-1 py-2 border-bottom border-right bg-light") Category
        div(class="col-1 py-2 border-bottom border-right bg-light") Task Status
        div(class="col-1 py-2 border-bottom bg-light") Task Info
        
    div(class="row", style={"padding-left":"20px;"})
        div(class="col-1 py-2 border-bottom") Task#
        div(class="col-3 py-2 border-bottom") Title
        div(class="col-2 py-2 border-bottom") Task Type
        div(class="col-2 py-2 border-bottom") Assigned By
        div(class="col-1 py-2 border-bottom") Category
        div(class="col-1 py-2 border-bottom") Current Status
        div(class="col-1 py-2 border-bottom") Task Info

    div(class="row", style={"padding-left":"20px;"})
        div(class="col-1 py-2 border-bottom") Task#
        div(class="col-3 py-2 border-bottom") Title
        div(class="col-2 py-2 border-bottom") Task Type
        div(class="col-2 py-2 border-bottom") Assigned By
        div(class="col-1 py-2 border-bottom") Category
        div(class="col-1 py-2 border-bottom") Current Status
        div(class="col-1 py-2 border-bottom") Task Info