extends layout

block content
  h3= title
  p Welcome to #{title}
  form(action='/process_post', method='post')
    | First Name 
    input(type='text', name='f_name', placeholder="first name")
    br
    br 
    | Last Name 
    input(type='text', name='l_name', placeholder="last name")
    br
    br
    input(type='submit')
  br
  button Show Details
  br
  br
  a(class='button', href='/') Go to Home Page
