body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.app-input-radio-text {   
    align-items: center;    
    margin-bottom: 0;        
    text-align: center;    
    background-color: #fff;
    margin-left: 14px;
    padding: 10px 8px 10px 8px;
    /*
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    white-space: nowrap;
    border-left: 1px solid #ced4da;
    border-radius: .25rem;
    */
}

.app-input-read-only{
  background-color: white !important;
}